# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform cache directory
.terraform/

# Terraform lock file
.terraform.lock.hcl

# Terraform plan files
*.tfplan

# Terraform variables files
terraform.tfvars
*.auto.tfvars

# Terraform output files
terraform.tfstate*